@using Sosyal_Kutuphane.Services
@model Sosyal_Kutuphane.Models.ViewModels.AdvancedSearchViewModel

<h2>Filtered Results</h2>
<p>
    Showing results for "<strong>@Model.Query</strong>"
    @inject TmdbService _tmdb
    @{
        var genres = await _tmdb.GetMovieGenres();
        var currentGenre = "";
        if(Model.Genre != "") currentGenre = Model.Type == "movie" ? genres[int.Parse(Model.Genre)] : "" ;
        var mediaType = Model.Type == "movie" ? "Movie" : "Book";
    }
    <span> | Type: @mediaType </span>
    @if (Model.Year != null) { <span> | Year: @Model.Year </span> }
    @if (!string.IsNullOrWhiteSpace(currentGenre) && Model.Type != "book") { <span> | Genre: @currentGenre </span> }
    @if (Model.MinRating != null) { <span> | Rating ≥ @Model.MinRating </span> }
    
    
</p>

<hr />

@if (Model.Type == "movie")
{
    <div class="row">
        @foreach (var m in Model.MovieResults)
        {
            var poster = $"https://image.tmdb.org/t/p/w500{m["poster_path"]}";
            Console.WriteLine($"Title: {m["title"]}");
            Console.WriteLine($"Date: {m["release_date"]}");
            
            var title = m["title"] + 
                (m["release_date"]?.ToString() != "" ? $" ({m["release_date"]?.ToString().Substring(0,4)})" : "");

            <div class="col-md-3 mb-4">
                <div class="card shadow">
                    <img src="@poster" class="card-img-top" />

                    <div class="card-body">
                        <strong>@title</strong><br />
                    </div>

                    <a class="btn btn-primary"
                       href="/Media/MovieDetails/@m["id"]">
                        Details
                    </a>
                </div>
            </div>
        }
    </div>
}

@if (Model.Type == "book")
{
    <div class="row">
        @foreach (var b in Model.BookResults)
        {
            var info = b["volumeInfo"];
            var img = info?["imageLinks"]?["thumbnail"];
            var date = info?["publishedDate"] != null ? 
                $" ({info["publishedDate"]?.ToString().Substring(0,4)})" :
                "";

            <div class="col-md-3 mb-4">
                <div class="card shadow">
                    <img src="@img" class="card-img-top" alt="Image couldn't be displayed"/>

                    <div class="card-body">
                        <strong>@info?["title"] @date</strong><br />
                    </div>

                    <a class="btn btn-primary"
                       href="/Media/BookDetails/@b["id"]">
                        Details
                    </a>
                </div>
            </div>
        }
    </div>
}
