@using Sosyal_Kutuphane.Services
@model Sosyal_Kutuphane.Models.CustomList

@{
    ViewData["Title"] = Model.Name;

    var avatarByte = Model.User.Avatar;
    string avatar = avatarByte != null 
        ? $"data:image/png;base64,{Convert.ToBase64String(avatarByte)}"
        : "/default-avatar.jpg";

    var userName = Model.User.UserName;
}

<div class="container mt-4">

    <a href="/Profile/Index/@ViewBag.OwnerId" class="btn btn-secondary mb-3">
        Back to Profile
    </a>
    <br/>
    
    <h2>@Model.Name</h2>
    
    <img src="@avatar"
         width="50" height="50"
         class="rounded-circle border"
         alt="Image couldn't be displayed"/>
    <a>@userName</a>
    
    
    @inject GoogleBooksService gbooks;
    @inject TmdbService tmdb;
    
    
    @if (Model.Items == null || !Model.Items.Any())
    {
        <p class="text-muted">This list is empty.</p>
    }
    else
    {
        <div class="row">
            @foreach (var item in Model.Items)
            {
                
                <div class="col-md-3 mb-3">
                    <div class="card">
                        <div class="card-body">
                            @{
                                switch (item.MediaType)
                                {
                                    case "movie":
                                    {
                                        var itemName = await tmdb.GetMovieTitle(item.MediaId);
                                        <a  href="/Media/MovieDetails/@item.MediaId"
                                            class="text-decoration-none">@itemName</a>
                                        <br/>
                                        <small class="text-muted">Movie</small>
                                        break;
                                    }
                                    case "book":
                                    {
                                        var itemName = await gbooks.GetBookTitle(item.MediaId);
                                        <a href="/Media/BookDetails/@item.MediaId" 
                                           class="text-decoration-none ">@itemName</a>
                                        <br/>
                                        <small class="text-muted">Book</small>
                                        break;
                                    }
                                }
                            }
                            
                            

                            <form method="post" asp-controller="CustomList" asp-action="RemoveItem">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="listId" value="@Model.Id"/>
                                <input type="hidden" name="itemId" value="@item.Id"/>
                                <button class="btn btn-sm btn-danger">Remove</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>